<!DOCTYPE html>
{% load static %}

<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AutomatedExamSeatArrangement</title>
  <link rel="stylesheet" href="{% static 'css/home_style.css' %}">
</head>

<body>
  <header class="header">
    <a href="#" class="logo">BY_GROUP_10</a>
    <nav class="nav-items">
      <a href="#">Home</a>
      <a href="#">About</a>
      <a href="#">Contact</a>

      {% if user.is_authenticated %}
      <a href="#">Welcome, {{ user.username }}</a>
      <a href="{% url 'logout' %}">Logout</a>
      {% else %}
      <a href="{% url 'login_page' %}">Login</a>
      {% endif %}
    </nav>
  </header>
  
  <main>
    <div class="intro">
      <h1>EXAM SEAT ARRANGEMENT</h1>
      <p>A website For Automated Generation Of The Exam Seating Plans.</p>
    </div>
    
    <div class="about-me">
      <div class="about-me-text">
        <h2>Learn More & Get Started</h2>
        <p>Here, This website is developed to provide an ease to the colleges and institutes and specially providing relief to staff by freeing them with manual work of seat arrangements of students while exam time.
          <br><br>We help you with generation of exam sheets automatically by using just a simple website interface, you just have to enter the neccessary input data(like classroom details and list of students in the pdf format)
          and leave the rest to us.
        </p>
      </div>
      <img src="/static/images/gettyimages-1437824169-612x612.jpg"                                                                                                                                                                                                         >
    </div>
  </main>
  
  <footer class="footer">
    <div class="copy">&copy; BY STUDENTS OF THIRD YEAR COMPUTER TECHNOLOGY<br>
      <ul>
        <li>OMKAR RAMESHKUMAR KADAM</li>
        <li>PARTH RAJENDRA SHETE</li>
        <li>SIDDHESH BAJIRAO YADAV</li>
        <li>PRATIK RAMHARI MANE</li>
      </ul> 
  </div>
    <!--..<div class="bottom-links">
      <div class="links">
        <span>More Info</span>
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Contact</a>
      </div>
      <div class="links">
        <span>Social Links</span>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
    --> 
  </footer>
</body>

</html>
