<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Reset Complete</title>
    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">
</head>
<body>
    <div class="wrapper">
        <h2>Password Reset Complete</h2>
        <p style="color: #ccc;">Your password has been reset successfully. You can now log in with your new password.</p>
        <div class="login">
            <p><a href="{% url 'login_page' %}">Return to Login</a></p>
        </div>
    </div>
</body>
</html>
