<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Reset Sent</title>
    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">
</head>
<body>
    <div class="wrapper">
        <h2>Password Reset Sent</h2>
        <p style="color: #ccc;">A link to reset your password has been sent to your email.</p>
        <div class="login">
            <p><a href="{% url 'login_page' %}">Return to Login</a></p>
        </div>
    </div>
</body>
</html>
